body {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: FFFFFF }
h1 {  font-family: Arial, Helvetica, sans-serif; font-size: 16pt; color: FFFFFF}
h3 {  font-family: Arial, Helvetica, sans-serif; font-size: 14pt; font-weight: normal; color: FFFFFF }
h4 {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-style: normal; font-weight: bold; color: FFFFFF }
h5 {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; font-weight: bold; color: FFFFFF }
a {  font-family: Arial, Helvetica, sans-serif; font-size: 09pt;  font-weight: normal; color: FFFFFF; }
em {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-style: normal; font-weight: bold; color: FFFFFF }
p { font-family: Arial, Helvetica, sans-serif; font-size: 09pt; color: FFFFFF }